:root {
  --white-color: #fff;
  --black-color: #2c2c2c;
  --light-green-color: #82d299;
  --green-color: #66a377;
  --dark-grey-color: #2b2b2b;
  --reddish-color: #bd4444;
  --black-brown-color: #181102;
  --arylide-yellow-color: #ffc86f;
  --tiger-orange-color: #cb8b29;
  --winter-hazel-color: #dec69d;
}
