:root {
	--white-color: #fff;
	--black-color: #2C2C2C;
	--light-green-color: #82d299;
	--green-color: #66A377;
	--dark-grey-color: #2B2B2B;
	--reddish-color: #BD4444;
	--black-brown-color: #181102;
	--arylide-yellow-color: #FFC86F;
	--tiger-orange-color: #CB8B29;
	--winter-hazel-color: #DEC69D;
}