@import "_normalize.css";
@import "_fonts.css";
@import "_variables.css";
@import "_vendor.css";
@import "_global.css";
@import "_overall.css";


@import "./components/header.css";
@import "./components/first.css";
@import "./components/second.css";
@import "./components/third.css";
@import "./components/footer.css";

@import "_media.css";