.header {
  color: var(--black-color);
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.863);
  z-index: 10;
  width: 100%;
  height: 102px;
  display: flex;
  align-items: center;
}

.header__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* logo */

.logo {
  display: flex;
  align-items: center;

  z-index: 10;
}

.logo__image {
  width: 54px;
  height: 54px;
  margin-right: 16px;
  margin-top: -15px;
}

.logo__text {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 10px;
}

/* main menu */

.header__menu {
  overflow: auto;
  transition: top 0.2s ease;
}

.menu__list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.menu__item:not(:last-child) {
  margin-right: 21px;
}

.menu__link {
  display: block;
  padding: 11px 20px;
  font-size: 18px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.menu__item:hover {
  background-color: var(--light-green-color);
}

@media (max-width: 1300px) {
  .header {
    height: 80px;
  }
}

@media (max-width: 895px) {
  .header {
    background-color: var(--white-color);
    height: 60px;
  }
  .header__container {
    padding: 0 30px;
  }
  .logo__image {
    width: 35px;
    height: 35px;
    margin-top: -10px;
  }
  .logo__text {
    font-size: 24px;
  }
  .header__menu {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 9;
    top: -100vh;
    left: 0;
    background-color: var(--white-color);
  }
  .header__menu.active {
    top: 60px;
  }
  .menu__list {
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }
  .menu__item:not(:last-child) {
    margin-right: 0;
  }
}

@media (max-width: 420px) {
  .logo__text {
    font-size: 16px;
  }
}
