.container {
  max-width: 1294px;
  padding: 0 20px;
  margin: 0 auto;
}

.lock {
  overflow: hidden;
}

.green-text-bg {
  background-color: var(--green-color);
}

.yellow-gradient-bg {
  background: linear-gradient(104deg, #c9950c, #efc24b, #ad7013 80%);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
